{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<body id="page-top" class="index">

    <!-- Header -->
    <header>
      {% image self.header_img width-1200 as header_img %}
      <div class="hero-background" style="background-image: url({{ header_img.url }})">
        <div class="jumbotron hero-shade">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8">
                    <div class="intro-text">
                        <h1 class="hero-tagline">Build your business in Syracuse</h1>
                        <button class="btn btn-default btn-lg">Learn Why <i class="fa fa-arrow-right"></i></button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Collection Pages -->
    <section>
      <div class="container">
        <div class="row">
          {% for collection_page in collection_pages %}
          <a href={{collection_page.slug}} class="portfolio-link">
              <div class="col-sm-4">
                <div class="panel panel-default portfolio-item">
                  <div class="panel-body">
                        <div class="collection-page-icon">
                              {% if collection_page.icon %}
                                {% image collection_page.icon width-80 %}
                              {% endif %}
                        </div>
                    <h2 class="text-center">{{collection_page.title}}</h2>
                    <p>{{collection_page.description}}</p>
                  </div>
                </div>
              </div>
            </a>
            {%endfor%}
          </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
        </div>
        <div class="row">
          <div class="col-sm-6">
            <legend><h3><i class="fa fa-search" aria-hidden="true"></i> Search</h3></legend>
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
              </span>
            </div><!-- /input-group -->
          </div>
          <div class="col-sm-6">
            <legend><h3><i class="fa fa-star" aria-hidden="true"></i> Popular Pages</h3></legend>
            <ul class="list-unstyled">
              {% for selected_page in self.selected_pages.all %}
                <li>
                    <h4>
                      <a href="{% pageurl selected_page.step_pages %}">
                        {{ selected_page.step_pages.title }}
                      </a>
                    </h4>
                </li>
              {%endfor%}
            </ul>
          </div>
        </div>
      </div>
    </section>


    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
{% endblock %}
