{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<body id="page-top" class="index">

    <!-- Header -->
    <header>
      {% image self.header_img width-1200 as header_img %}
      <div class="hero-background" style="background-image: url({{ header_img.url }})">
        <div class="jumbotron hero-shade">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6">
                    <div class="intro-text">
                      <h1 class="hero-tagline">Build your business in Syracuse</h1>
                      <p>The official business portal for the City of Syracuse. Find out how to plan, open, and grow your business here.</p>
                      <div class="btn-group inline pull-left">
                        <button class="btn btn-default btn-lg">Get Started: Plan Your Business <i class="fa fa-arrow-right"></i></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-offset-2 col-lg-4">
                    <h2>Status Check</h2>
                    <p>Track your permit or business license.</p>
                    <form>
                      <div class="form-group">
                        <label for="status-check-input">Enter a permit or business license number:</label>
                        <input type="email" class="form-control" id="status-check-input" placeholder="Example: PC-1234-13">
                      </div>
                      <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Collection Pages -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            {% for collection_page in collection_pages %}
            <a href={{collection_page.slug}} class="portfolio-link">
              <div class="panel panel-default portfolio-item">
                <div class="panel-body">
                  <div class="col-xs-3 col-sm-2">
                      <div class="collection-page-icon">
                            {% if collection_page.icon %}
                              {% image collection_page.icon width-80 %}
                            {% endif %}
                      </div>
                  </div>
                  <div class="col-xs-9 col-sm-10">
                    <h2>{{collection_page.title}}</h2>
                    <p>{{collection_page.description}}</p>
                  </div>
                </div>
              </div>
            </a>
            {%endfor%}
          </div>
          <div class="col-sm-4 google-custom-search">
            <script>
              (function() {
                var cx = '015206489618795500048:r3rfaau61ho';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
            <gcse:search></gcse:search>
          </div>
          <div class="col-sm-4">
            <legend><h3><i class="fa fa-star" aria-hidden="true"></i> Popular Pages</h3></legend>
            <ul class="list-unstyled">
              {% for selected_page in self.selected_pages.all %}
                <li>
                    <h4>
                      <a href="{% pageurl selected_page.step_pages %}">
                        {{ selected_page.step_pages.title }}
                      </a>
                    </h4>
                </li>
              {%endfor%}
            </ul>
          </div>
        </div>
      </div>
    </section>


    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
{% endblock %}
