{% extends "base.html" %}
{% load static %}


{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n widget_tweaks %}

{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}">

{% endblock %}

{% block content %}
<body id="page-top" class="index">

    <!-- Header -->
    <header>
      {% image self.header_img width-1200 as header_img %}
      <div class="hero-background" style="background-image: url({{ header_img.url }})">
        <div class="jumbotron hero-shade">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6">
                    <div class="intro-text">
                      <h1 class="hero-tagline">Build your business in Syracuse</h1>
                    </div>
                  </div>
                  <div class="col-sm-offset-2 col-sm-4 tracker-promo">
                    <h2>Track Your Applications</h2>
                    <a href="{% url 'biz_license_status' %}" class="btn btn-primary btn-lg track-btn">Certificate of Use</a>
                    <a href="{% url 'permit_status' %}" class="btn btn-primary btn-lg track-btn">Right of Way Permit</a>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Collection Pages -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            {% for collection_page in collection_pages %}
            <a href={{collection_page.slug}} class="portfolio-link">
              <div class="panel panel-default portfolio-item">

                  <div class="hidden-xs hidden-sm icon-container">
                    <div class="collection-page-icon">
                          {% if collection_page.icon %}
                            {% image collection_page.icon width-60 %}
                          {% endif %}
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="panel-body">
                      <h2>{{collection_page.title}}</h2>
                      <p>{{collection_page.description}}</p>
                    </div>
                  </div>
              </div>
            </a>
            {%endfor%}
          </div>
          <div class="col-sm-4 google-custom-search">
            <legend><h3><i class="fa fa-search" aria-hidden="true"></i> Popular Pages</h3></legend>
            <script>
              (function() {
                var cx = '015206489618795500048:r3rfaau61ho';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
            <gcse:search></gcse:search>
          </div>


          <div class="col-sm-4 rm-promo">
            <section class="card">
              <h3>Find Help For Your Business</h3>
              <p>Discover loans, grants, mentorship, and more to take your business to the next level. <a href="/search/"> Get Started&rarr;</a></p>
              </section>
         </div>

          <div class="col-sm-4">
          {% if stand_alone_pages %}
              {% for p in stand_alone_pages %}

            <legend><h3><i class="fa fa-home" aria-hidden="true">{{p.title}}</h3></legend>
            <p>{{p.description}}<a href="{{p.slug}}"> Read more &rarr;</a></p>
              {% endfor %}

          </div>
           {% endif %}


        </div>
      </div>
    </section>


    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
{% endblock %}
