{% load wagtailcore_tags %}
{% load biz_content_tags %}
<a href="tel:+1{{ value.phone_number }}{% if value.ext %},{{ value.ext }}{% endif %}" class="resource-block phone-number-block">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-1"><i class="fa fa-phone"></i></div>
        <div class="col-xs-11">
          <span>
            {{ value.phone_number|format_10_digit_phone  }}
            {% if value.ext %}
            ext. {{ value.ext  }}
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>
</a>
