{% load static %}

<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% include 'wealthmap/partials/styles.html' %}
</head>
<body>
  <header>
  <div class="collection-shade jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-sm-7">
            <h1>
              <img class="illustration" src="images/SyracuseLogo.png">
              {% block header %}{% endblock %}
            </h1>
            <h2 class="lead blog-description">{% block subhead %}{% endblock %}</h2>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
