{% load static %}

<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/wealthmap/css/style.css">
</head>
<body>
  <div class="page-wrapper">
    <div class="slab">
      <div class="grid">
        <div class="form-card">
          <header class="form-card__header">
            <div class="grid">
              <div class="grid__item width-one-sixth">
                <img class="illustration" src="/static/matcher/images/san-diego-seal-gold.jpg">
              </div>
              <div class="grid__item width-five-sixths">
                <h1 class="form-card__title">{% block header %}{% endblock %}</h1>
                <p>{% block subhead %}{% endblock %}</p>
              </div>
            </div>
          </header>
          <section>
            {% block content %}
            {% endblock %}
          </section>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
