{% extends "base.html" %}
{% load static %}


<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% include 'wealthmap/partials/styles.html' %}
</head>
<body>
  <header>
  <div class="collection-shade jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h1>
              {% block header %}{% endblock %}
            </h1>
            <h2 class="lead blog-description">{% block subhead %}{% endblock %}</h2>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
