{% extends "wealthmap/opportunity_search_form.html" %}
{% load i18n widget_tweaks %}


{% block title %}
Syracuse Business Resource Matcher
{% endblock %}

{% block header %}
Resource Matcher
{% endblock %}

{% block subhead %}
Syracuse has many resources for local businesses.
These include grants, training, mentorship, and more.
Answer a few questions about your business and we'll
tell you what you're eligible for.
{% endblock %}

{% block content %}
<form action="" method="post" class="resource-matcher">
	{% csrf_token %}

	<section>
	<h3>What are you looking for? <span class="help-block">(Required)</span></h3>
	<p>Narrow down your results by choosing which type of resources you're interested in.
		You can pick as many as you like.</p>
		<div class="row">
			{% if form.purposes.errors %}
	        <div class="container">
              <div class="row">
                <div class="col-sm-8">
                  <div class="alert alert-danger">  <!-- singular -->
                    <p class="error">{{form.purposes.errors}}</p>
                  </div>
                </div>
              </div>
            </div>
			{% endif %}
			{% for item in form.purposes %}
			<div class="col-md-6">
				<div class="checkbox">
					{{ item }}
				</div>
			</div>
			{% endfor %}
		</div>
		</section>

		<section>
		<h3>What type of business are you? <span class="help-block">(Required)</span></h3>
		<p>Pick which terms describe your industry. You can choose more than one.</p>
		<div class="row">
			{% if form.industries.errors %}

	        <div class="container">
              <div class="row">
                <div class="col-sm-8">
                  <div class="alert alert-danger">  <!-- singular -->
                    <p class="error">{{form.industries.errors}}</p>
                  </div>
                </div>
              </div>
            </div>

            {% endif %}

			{% for item in form.industries %}
			<div class="col-md-6">
				<div class="checkbox">
					{{ item }}
				</div>
			</div>
			{% endfor %}
		</div>
		</section>

		<section>
		<h3>Can you raise match funding?</h3>
		<p>Some opportunities offer money that you're required to raise match funding for.</p>
		<div class="checkbox">
			{% if form.personal_investment.errors %}
	        <div class="container">
              <div class="row">
                <div class="col-sm-8">
                  <div class="alert alert-danger">  <!-- singular -->
                    <p class="error">{{form.personal_investment.errors}}</p>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

			{% for item in form.personal_investment %}
			<label>{{ item }} Yes, I have access to money for match funding.</label>
			{% endfor %}

		</div>
		</section>

<section id="small-biz">
		<h3>Are you a small business?</h3>
		<p>help text here.</p>
		<div class="checkbox">
			{% if form.small_business.errors %}
	        <div class="container">
              <div class="row">
                <div class="col-sm-8">
                  <div class="alert alert-danger">  <!-- singular -->
                    <p class="error">{{form.small_business.errors}}</p>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

			{% for item in form.small_business %}
			<label>{{ item }} Yes, this is a small business.</label>

			{% endfor %}
		</div>
</section>


	<section>
		<h3>What stage are you at? <span class="help-block">(Required)</span></h3>
		<p>Is your business up and running, or you just starting and not yet in operation?</p>
		<div class="row">
			{% if form.existing_business.errors %}
	        <div class="container">
              <div class="row">
                <div class="col-sm-8">
                  <div class="alert alert-danger">  <!-- singular -->
                    <p class="error">{{form.existing_business.errors}}</p>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

			{% for item in form.existing_business %}
			<div class="col-md-6">
				<div class="radio">
					{{ item }}
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
		<input type="submit" value="{% trans 'Search' %}" class="btn btn-primary btn-lg" />
	</form>
	{% endblock %}

	<script>
		$( document ).ready(function() {
	  		$('input#id_small_business').prop('checked', true)
		});
	</script>
