{% extends "base.html" %}
{% load i18n widget_tweaks %}
{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="account-form panel panel-default">
      <div class="panel-heading">
        Log in to the Syracuse Business Portal
      </div>
      <div class="panel-body">
        <form action="" method="post">
          {% csrf_token %}
          {% for field in form %}

            <div class="form-group">
              <p style="color:red;">{{field.errors}}</p>
              <label>
              {% if field.label == 'Username' %}
                Email
              {% else %}
                {{ field.label }}
              {% endif %}
              </label>
              {% render_field field class+="form-control" %}
            </div>
          {% endfor %}
          <input type="submit" class="btn btn-primary" value="{% trans 'Log In' %}" />
        </form>
        <br>
        <p><a style="font=size:10px;" href="{% url 'auth_password_reset' %}">Lost your password? Reset it here.</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
