{% extends "base.html" %}
{% load i18n widget_tweaks %}
{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="account-form panel panel-default">
      <div class="panel-heading">
        Logout Syracuse Business Portal
      </div>
      <div class="panel-body">
        <h2>You've been logged out.</h2>
        <h3>Thank you for visiting our website.</h3>
        <br>
        <a href="{% url 'auth_login' %}">Login again here.</a>
        <br>
      </div>
    </div>
  </div>
</div>
{% endblock %}