{% extends "base.html" %}
{% load i18n widget_tweaks %}
{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="account-form  panel panel-default">
      <div class="panel-heading">
        Register for the Syracuse Business Portal
      </div>
      {%if request.POST %}
          <h1>hi</h1>
      {% endif %}
      <div class="panel-body">
      <form action="" method="post">
          {% csrf_token %}
          {% for field in form %}
          {{ form.title }}
          <div class="form-group">
            <label>{{ field.errors }}</label>

            <label>{{ field.label }}</label>
            {% render_field field class+="form-control" %}
          </div>
          {% endfor %}

        <input type="submit" class="btn btn-primary" value="{% trans 'Sign Up' %}" />
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
