.translate-bar {
  display: inline-block;
  float: right;
  background-color: transparent;
      margin-left:-30px;

}
.translate-bar .dismiss-gt-link {
  float: right;
  margin-top: 10px;
  margin-right: 23px;
}

#google_translate_element {
  display: inline-block !important;
  color: #e5e5e5 !important;
  padding: 15px;

}
#google_translate_element .goog-te-gadget-simple .goog-te-menu-value,
#google_translate_element .goog-te-gadget {
  color: #e5e5e5 !important;
}
#google_translate_element .goog-te-gadget:before {
  content: "";
  position: relative;
  top: 2px;
  left:10px;
}
#google_translate_element .goog-te-gadget-simple {
  background-color: transparent !important;
  border: none !important;
}
#google_translate_element .goog-te-gadget-simple span {
  vertical-align: inherit !important;
}
#google_translate_element .goog-te-gadget-icon,
#google_translate_element .goog-te-menu-value span {
  display: none !important;
  color: rgba(30, 63, 171, 1);
}
#google_translate_element .goog-te-menu-value span:last-child {
  display: inline !important;
  color: rgba(30, 63, 171, 1) !important;
}
#google_translate_element .goog-te-menu-value span:first-of-type {
  display: inline-block !important;
}
#google_translate_element .goog-te-menu-value img {
  margin: 0;
}
#google_translate_element .goog-te-menu-frame img {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#google_translate_element .goog-te-menu-value:hover {
  color: rgba(30, 63, 171, 1) !important;
}

.google-translate-sidebar #google_translate_element {
  border: 1px solid #333333;
  padding: 5px 8px;

}

input.gsc-search-button {
  box-sizing: initial;
}

