/* Default to system fonts */

* {
	font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Helvetica', 'sans-serif';
}

/* Padding top to avoid navbar */
body {
	padding-top: 81px;
	background-color: #FAFAF9;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	color: #555;
}

.beta-notification {
	background-color: #A92C70;
	font-size: 16px;
	color: #fff;
	padding: 3px;
	text-align: center;
}

.beta-notification a {
	color: #fff;
	text-decoration: underline;
}

@media (max-width: 767px) {
  a.navbar-brand {
    font-size: 14px;
  }
  .navbar-brand>img {
    height:50px;
  }
}

.navbar-brand>img {
  display: inline;
  height:35px;
}
.navbar {
  overflow-y: hidden;
  border: none;
}
header.step{
	text-align:left;
	margin-bottom:30px;
	padding:20px;
	color:white;
	background-color:#2C3E50;
}

.jumbotron{
  padding-top: 30px;
  padding-bottom: 30px;
}
.jumbotron.hero-shade {
	background: #3F47A1; /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(63, 71, 161, 0.8) 0%, rgba(60, 44, 91, 0.7) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(63, 71, 161, 0.8) 0%,rgba(60, 44, 91, 0.7) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(63, 71, 161, 0.8) 0%,rgba(60, 44, 91, 0.7) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(63, 71, 161, 0.8)', endColorstr='rgba(60, 44, 91, 0.7)',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.collection-shade {
  background: #3F47A1; /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(63, 71, 161, 0.8) 0%, rgba(60, 44, 91, 0.7) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(63, 71, 161, 0.8) 0%,rgba(60, 44, 91, 0.7) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(63, 71, 161, 0.8) 0%,rgba(60, 44, 91, 0.7) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(63, 71, 161, 0.8)', endColorstr='rgba(60, 44, 91, 0.7)',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.collection-shade h1 img {
  height: 55px;
  width: auto;
}
@media (max-width: 768px) {
  .collection-shade h1 img {
  height: 30px;
  width: auto;
}
}
.shade-bar {
  background: #5C802C;
}
.jumbotron h1 {
	margin-top: 0;
}
.jumbotron h2 {
	margin-bottom: 0;
  margin-top: 0;
  color: #fff;
}
.hero-promo h3 {
	color: #444; /*this is darker than the other text so that it visually matches*/
  margin-top: 0;
}
.hero-promo p{
  margin-bottom: 0;
}
.hero-promo a {
  color: #444; /*this is darker than the other text so that it visually matches*/
}
a.hero-promo-link {
  color: #337ab7;
  font-weight: 500;
}
.hero-promo {
  background-color: rgba(255,255,255,0.8);
  color: #000;
  padding: 15px;
  opacity:80%;
  border-radius:5px;
  border:1px solid #555;
}
.hero-background {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.account-form {
	margin-top: 100px;
	margin-bottom: 100px;
}

/* Reposition wagtail admin button away from chat */
.wagtail-userbar-trigger {
	bottom: 35px;
	left: 10px;
}

.wagtail-userbar-items {
	bottom: 150%;
	right: -10px;
}

.breadcrumb {
	padding:10px 0;
	background-color: inherit;
	font-size: 12px;
}

.breadcrumb li a {
	text-decoration: underline;
	color: white;
}

.breadcrumb .active {
	color: white;
}
ol.breadcrumb {
  margin-bottom: 0;
}

.blog-main h3, .blog-main h4 {
	margin-top: 20px;
	font-weight: bold;
}

.blog-main h4 {
	font-size: 20px;
}

.blog-main li {
	font-size: 20px;
}

/*!
 * Start Bootstrap - Freelancer v3.3.7+1 (http://startbootstrap.com/template-overviews/freelancer)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  overflow-x: hidden;
}

p.small {
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  color: #777;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #18BC9C;
  color: white;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}
.img-centered {
  margin: 0 auto;
}
header {
  background: #2C3E50;
  color: white;
}
header .intro-text .name {
  display: block;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text {
	font-size: 4em;
}
@media (max-width: 768px) {
  header .intro-text {
		font-size: 1.75em;
		padding-top: .5em;
		padding-bottom: 0em;
  }
}

section h2 {
  margin: 0;
  font-size: 2.5em;
}
section.success {
  background: #18BC9C;
  color: white;
}
@media (max-width: 767px) {
  section.first {
    padding-top: 75px;
  }
}

.collection-page-icon {
  text-align: center;
  padding: 15px;
}

a.portfolio-link h2, a .panel-body h3 {
  color: #337ab7;
}

a.portfolio-link p, .sidebar a .panel-body p {
  color: #555;
  margin-bottom: 0px;
}

a#sidebar-panel:hover {
  text-decoration: none;
}


.portfolio-item .icon-container {
  background-color: #5C802C;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: table-cell;
  vertical-align: middle;
  padding: 15px;
	width: 10%;
}

.portfolio-item {
	top: 0px;
	transition: all 0.15s ease;
  display: table;
	width: 100%;
}
.portfolio-item:hover, #sidebar-panel .panel:hover {
	top: -5px;
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
	transition: all 0.15s ease;
}

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}

.portfolio-item .panel-body {
  padding-left: 0;
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #18BC9C;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
footer {
  color: white;
	margin-top: 100px;
}
footer h3 {
  margin-bottom: 30px;
}
footer a {
	color: white;
	text-decoration: underline;
}
footer a:hover {
  color: white;
  font-weight: bold;
}
footer .footer-above {
  padding: 30px 0 20px 0;
  background-color: rgba(60, 44, 91, 0.9);
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: rgba(60, 44, 91, 1);
}

/* Bootstrap button overrides */

.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #18BC9C;
  background: white;
  border: solid 2px white;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2C3E50;
  border-color: #2C3E50;
}
.btn-primary .badge {
  color: #2C3E50;
  background-color: white;
}
.btn-success {
  color: white;
  background-color: #18BC9C;
  border-color: #18BC9C;
  font-weight: 700;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #128f76;
  border-color: #11866f;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #18BC9C;
  border-color: #18BC9C;
}
.btn-success .badge {
  color: #18BC9C;
  background-color: white;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}
.scroll-top .btn:focus {
  outline: none;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

/*Checklist sidebar*/
.checkbox label, .radio label {
  font-size: 16px;
}
.blog-sidebar .checkbox, .radio {
  margin-bottom: 20px;
}
.blog-sidebar .checkbox label:hover {
  background-color: rgba(225, 225, 225, 0.5);
  border-radius: 3px;
  display: block;
}
.affix {
	position: fixed !important;
	top: 95px;
}
.affix-top, .affix-bottom, .affix {
	width: 300px;
	position: static;
}

.panel-default>.panel-heading {
  background-image: none;
  background-color: rgba(44, 62, 80, 0.1);
}
.panel-heading {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 5px 15px;
}
.panel {
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.panel-body h2{
  margin-top:0;
}
.resource-block .panel-body h3{
  font-size: 20px;
  margin:0;
}
.resource-block .panel-body h3:hover, .resource-block .panel-body:hover{
  color: #23527c;
}
.resource-block .panel-body h3 .fa-2x{
  font-size: 1em;
  color: #777;
  padding-right: 10px;
}

.resource-block .panel-body {
  padding:20px;
}

.databox-iframes{
  width:800px;
  height:600px;
}

@media(max-width:768px) {
  a .panel-body {padding: 15px;}
}

.alert-text-block {
	border: 3px solid #F59C23;
	background: transparent;
	display: table;
	box-shadow: none;
}

.alert-text-block .alert-icon {
	background: #F59C23;
	display: table-cell;
	vertical-align: middle;
	padding-right: 20px;
	padding-left: 20px;
}

.alert-text-block .alert-icon h4 {
	color: #fff;
}

.alert-text-block h4 {
  font-weight: normal;
  margin-top: 10px;
}

input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
  -webkit-box-shadow: none;
  -moz-box-sizing: content-box;
  box-shadow: none;
}

.gsc-control-cse {
	padding: 0px !important;
	border-color: transparent !important;
	background-color: transparent !important;
}

input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
  box-sizing: content-box;
  line-height: normal;
}

.help-line{
  margin:0;
  color:white;
}

.tracker-details h3 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
.tracker-details table {
  background-color: #fff;
}
.tracker-details table thead th {
  border-bottom: none;
}
.tracker-status {
  font-weight: normal;
}
thead {
  border-bottom-width: 1px;
}
.tracker-details section {
  padding-bottom: 20px;
}
.track-btn{
  width:100%;
  display:inline-block;
  margin-bottom:15px;
}

ul.errorlist{
  list-style-type: none;
  padding-left: 0;
}

.affix{
  display:inline-block;
  }

.affix-top{
  display:inline-block;
}

.affix-bottom{
  display:inline-block;
}

.rm-promo{
  background-color:white;
  margin-top:10px;
  padding-left:10px;
  border:1px solid lightgray;
}

.rm-promo h3{
  color:#337ab7;
}

.resource-matcher .checkbox, .resource-matcher .radio {
    user-select: none;
    cursor: pointer;
    display: block;
    background-color: #FFFFFF;
    margin-bottom: 0px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 2px;
}
.resource-matcher label {
    font-size: 18px;
    display: block;
}
.resource-matcher section {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.resource-matcher .checkbox:hover, .resource-matcher .radio:hover {
  background-color: #ddd;
}
.resource-matcher .help-block {
  display: inline;
  font-size: 20px;
  font-weight: normal;
}

.alert {
  border-radius: 0;
  padding: 10px 15px;
  background-image: none;
}
.alert-danger {
  color: #b72332;
  border-color:#b72332;
}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
  color: #b72332;
}

.has-error .form-control {
  border-color:#b72332;
}

.sidebar .col-sm-4 {
  margin-bottom: 20px;
}
.sidebar h3 {
  margin-top: 0;
}
.more-link {
  color: #337ab7;
}
