{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n widget_tweaks %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<!--
 -->
 <!-- Navigation -->

    <header>
      {% image self.header_img width-1200 as header_img %}
      <div class="hero-background" style="background-image: url({{ header_img.url }})">
        <div class="jumbotron hero-shade">
          <div class="container">
            <div class="row text-center">
              <div class="col-sm-12">
                {% if page.icon %}
                  {% image page.icon width-120 %}
                {% endif %}
              </div>
              <div class="col-sm-10 col-sm-offset-0">
                <h1 class="blog-title">Track Your Business License</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">

      <div class="row">

        <div class="col-sm-7 blog-main">
              <br>

            {% if biz_license_data %}
                <h1>Certificate of Use {{biz_license_data.application_data.0.complaint_number}}</h1><hr>

                <div class="card">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <h2 style="color:black;">Certificate of Use - Current Status</h2>

                        <hr>
                        <h4 class="card-title" style="text-align:center;">{{biz_license_data.application_data.0.action_date}}: {{biz_license_data.application_data.0.user_defined_action_type_name}}</h4>
                        <hr>

                      <p>This reflects the up-to-date status of your Certificate of Use.</p>
                      <p>There are 3 types of business licenses in Syracuse - an entertainment license, an amusement license and a certificate of use license.</p>

                      <p>If you are a bar, restaurant, smoking establishment, or drug store, you need a Certificate of Use Business License. A business license needs to be renewed every 2 years.</p>

                    </li>
                  </ul>
                </div>

                <div class="card">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <h2 style="color:black;">Status Timeline</h2>

                        <hr>
                        <h4 class="card-title" style="text-align:center;">{{biz_license_data.application_data.0.action_date}}: {{biz_license_data.application_data.0.user_defined_action_type_name}}</h4>
                        <hr>

                      <p>This reflects the up-to-date status of your Certificate of Use.</p>
                      <p>There are 3 types of business licenses in Syracuse - an entertainment license, an amusement license and a certificate of use license.</p>

                      <p>If you are a bar, restaurant, smoking establishment, or drug store, you need a Certificate of Use Business License. A business license needs to be renewed every 2 years.</p>

                    </li>
                  </ul>
                </div>


                {% for d in biz_license_data.application_data %}
                  <div style="background-color:lightblue;padding:10px;margin:5px;border-radius:5px;border:2px solid black;" class="card">
                    <div class="card-block">
                      <h4 class="card-title">{{d.user_defined_action_type_name}}</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Date Last Updated: {{d.action_date}}</h6>
                    </div>
                  </div>
                {% endfor %}


                <h2>Department Log</h2>
                  <div style="background-color:lightblue;padding:10px;margin:5px;border-radius:5px;border:2px solid black;" class="card">
                    <div class="card-block">
                      <h4 class="card-title">Explanation</h4>
                    </div>
                  </div>

                <h2>Inspection Log</h2>
                {% for d in biz_license_data.inspection_data %}
                  <div style="background-color:lightpink;padding:10px;margin:5px;border-radius:5px;border:2px solid black;" class="card">
                    <div class="card-block">
                      <h4 class="card-title">Inspection Start Date: {{d.inspect_date}}</h4>
                      <h4 class="card-title">Inspection End Date: {{d.inspect_date}}</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Inspection Type: {{d.inspection_type_id}}</h6>
                      <h6 class="card-subtitle mb-2 text-muted">Department: {{d.department_id}}</h6>
                      <h6 class="card-subtitle mb-2 text-muted">Status: {{d.status_enum}}</h6>

                      <h6 class="card-subtitle mb-2 text-muted">Address: {{d.nature_of_complaint}}</h6>
                      <h6 class="card-subtitle mb-2 text-muted">Notes: {{d.user_note}}</h6>

                    </div>
                  </div>
                {% endfor %}


                <h2>Payment Log</h2>
                {% for d in biz_license_data.payment_data %}
                  <div style="background-color:lightgreen;padding:10px;margin:5px;border-radius:5px;border:2px solid black;" class="card">
                    <div class="card-block">
                      <h4 class="card-title">{{d.user_defined_action_type_name}}</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Payment Date: {{d.payment_date}}</h6>
                      <h6 class="card-subtitle mb-2 text-muted">Payment Details Date: {{d.payment_details}}</h6>
                    </div>
                  </div>
                {% endfor %}

            {% else %}
              <h2>Check the Status of Your Business License</h2>
              {% if messages %}
                  {% for message in messages %}
                      <div class="alert alert-{{ message.tags }}">  <!-- singular -->
                          <a class="close" data-dismiss="alert">×</a>
                          <p style="color:red;font-size:12px;">{{ message }}</p>
                      </div>
                  {% endfor %}
              {% endif %}

              <form action="" method="post">
                  {% csrf_token %}
                  {% for field in form %}
                  {{ form.title }}
                  <div class="form-group">

                  {%if field.errors%}
                    <div class="alert alert-error">  <!-- singular -->
                        <a class="close" data-dismiss="alert">×</a>
                        <p style="color:red;font-size:12px;">{{ field.errors }}</p>
                    </div>
                  {% endif %}


                    <label>{{ field.label }}</label>
                    {% render_field field class+="form-control" %}
                  </div>
                  {% endfor %}
                    <button type="submit" class="btn btn-default">Submit</button>

              </form>
            {% endif %}

              <br>
              <br>
        </div>

      </div><!-- /.row -->

    </div><!-- /.container -->


{% endblock %}