{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<!--
 -->
 <!-- Navigation -->

<header>
  <div class="hero-background" style="background-image: url({{ header_img.url }})">
      <div class="jumbotron collection-shade">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1 class="blog-title">
             Checklist Overview
            </h1>
              <h2 class="lead blog-description">Everything you need to do to start a business.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container checklist-page">
  <div class="row">
    <div class="col-sm-7 blog-main">
      <article>
        {% for page in step_pages %}
            {% if page.title %}
              <h3>{{ page.title }}</h3>
            {% endif %}
            <ul>
              {% for c in page.checklist_items.all %}
                <li>{{c}}</li>
              {% endfor %}
            </ul>
        {% endfor %}
      </article>
    </div>
     <div class="col-sm-5">
        <button class="btn-lg" onclick="javascript:window.print()">Print This Checklist</button>
    </div>
  </div>
</div><!-- /.container -->


{% endblock %}
