{% extends "base.html" %}
{% load static %}
{% load biz_content_tags %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n widget_tweaks %}

{% block title %}Permit Tracker{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}">
{% endblock %}

{% block body_class %}template-blogpage{% endblock %}


{% block content %}

<header>
  {% image self.header_img width-1200 as header_img %}
  <div class="hero-background" style="background-image: url({{ header_img.url }})">
    <div class="jumbotron hero-shade">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            {% if page.icon %}
            {% image page.icon width-120 %}
            {% endif %}
          </div>
          <div class="col-sm-10 col-sm-offset-0">
            <h1 class="blog-title">Track Your Status</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="container">

  <div class="row">

    <div class="col-sm-7 blog-main tracker-details">
      {% if permit_data %}
      <h2>Right of Way Permit Tracker</h2>
      <div id="current-status" class="card">
        <h3 class="card-title"> Current Permit Status</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="vertical-align:middle;text-align:center;width:15%;" colspan="1"><i class="fa fa-info-circle fa-3x"></th>
              <th colspan="2"> Status
               <p>{{permit_data.0.status_type_name}}</p>
               <p><i>{{permit_data.0.status_date| format_business_license_date}}</i></p>
             </th>
           </tr>
         </thead>
         <tbody>
          <tr>
            <th>Number</th>
            <td>{{permit_data.0.application_number}}</td>
          </tr>
          <tr>
            <th>Permit Type</th>
            <td>{{permit_data.0.permit_application_type_id|display_permit_type_name}}</td>
          </tr>
          {% if p.description_of_work %}
          <tr>
            <th>Description of Work</th>
            <td>{{p.description_of_work}}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>


    <div class="card">
      <h3 class="card-title"> Permit Approvals</h3>
      {% for p in permit_data %}

      <table class="table table-bordered">
        <thead>
          <tr>
            <th {% if p.approval_status_types_name == 'Approved' or p.approval_status_types_name == 'Conditionally Approved' %}
            class="inspection-1"
            {% elif p.approval_status_types_name == 'Denied' %}
            class="inspection-2"
            {% else %}
            class="inspection"
            {% endif %}
            colspan="3">

            <i class="fa fa-circle-o"> <strong class="payment-status">Status: {{p.approval_status_types_name}}</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Department</th>
              <td>{{p.approval_groupusers_id|display_permit_dpt_name}}</td>
            </tr>
            <tr>
              <th>Date</th>
              <td>{{p.status_date|format_business_license_date}}
              </td>
            </tr>
            {% if p.comments %}
            <tr>
              <th>Comments</th>
              <td>{{p.comments}}</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
        {% endfor %}
      </div>


      {% else %}
      <div class="container">

        <div class="row">

          <div class="col-sm-7 blog-main tracker-details">

            <div class="panel panel-default">
              <div class="panel-body">
                <h2>Check the Status of Your Permit</h2>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info">
                  <a class="close" data-dismiss="alert">×</a>
                  <p>{{ message }}</p>
                </div>
                {% endfor %}
                {% endif %}

                <form class="form-inline" action="" method="post">
                  {% csrf_token %}
                  {% for field in form %}
                  {{ form.title }}
                  <div class="form-group">

                    {% if field.errors %}
                    <div class="container">
                      <div class="row">
                        <div class="col-md-6 offest2">
                          <div class="alert alert-danger">  <!-- singular -->
                            <p class="error">{{ field.errors }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    <label>{{ field.label }}:</label>
                    <br>
                    <div class="input-group input-group-lg">
                      {% render_field field class+="form-control" %}
                      {% if field.help_text %}
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Search</button>
                      </span>
                    </div>
                    <span id="helpBlock" class="help-block">{{field.help_text}}</span>
                    {% endif %}
                  </div>
                  {% endfor %}
                </form>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="col-sm-5">
            <h4>You can lookup:</h4>
            <ul>
              <li>
                Right of Way Permits
              </li>
            </ul>
            <h4>You cannot lookup:</h4>
            <ul>
              <li>
                Elevator Permits
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div><!-- /.row -->

</div><!-- /.container -->


{% endblock %}
