{% extends "base.html" %}
{% load i18n %}
{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>{{ user.username }} Profile</h1>
          <p>This page is a placeholder template for the profile page.</p>
          <p>{{ user.username }}</p>
          <p>{{ user.email }}</p>
          <p>{{ user.first_name }}</p>
          <p>{{ user.last_name }}</p>

          <div id="project-tabs">
            <ul class="nav nav-tabs" role="tablist">
              {% for project in projects %}
                <li role="presentation" {% if forloop.counter == 1 %}class="active"{% endif %}>
                  <a href='#{{ forloop.counter }}' aria-controls='{{ forloop.counter }}' role="tab" data-toggle="tab">
                    {{ project.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
            <div class="tab-content">
              {% for project in projects %}
                <div class="tab-pane fade {% if forloop.first %}active in{% endif %}" role="tabpanel" id="{{ forloop.counter }}">
                  {{ project.name }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
      $('#project-tabs').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })
    </script>
{% endblock %}
