{% extends "base.html" %}
{% load i18n widget_tweaks %}
{% block body_class %}template-blogpage{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div style='background:lightgray;' class="panel-heading">
            <h1>My Profile</h1>
          </div>
          <h1>{{ user.username }} Profile</h1>
          <p>This page is a placeholder template for the profile page.</p>
          <p>{{ user.username }}</p>
          <p>{{ user.email }}</p>
          <p>{{ user.first_name }}</p>
          <p>{{ user.last_name }}</p>

          <div style='background:lightgray;' class="panel-heading">
            <h1>My Projects</h1>
          </div>
          <br>
          <br>
          <div id="project-tabs">
            <ul class="nav nav-tabs" role="tablist">
              {% for project in projects %}
                <li role="presentation" {% if forloop.counter == 1 %}class="active"{% endif %}>
                  <a href='#{{ forloop.counter }}' aria-controls='{{ forloop.counter }}' role="tab" data-toggle="tab">
                    {{ project.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
            <div class="tab-content">
              {% for project in projects %}
                <div class="tab-pane fade {% if forloop.first %}active in{% endif %}" role="tabpanel" id="{{ forloop.counter }}">
                  <legend><h3>{{ project.name }} Notebook</h3></legend>

                  <form name="project-notebook" method="post" action="/profile/">
                    <div class="row">
                    {% csrf_token %}
                    {% for field in project.notebook_form %}
                      <div class="col-md-4">
                        <div class="form-group">
                          <p style="color:red;">{{field.errors}}</p>
                          <label>{{ field.label }}</label>
                          {% render_field field class+="form-control" %}
                        </div>
                      </div>
                      {% if forloop.counter|divisibleby:3 %}
                      </div>
                      <div class="row">
                      {% endif %}
                    {% endfor %}
                      <div class="col-xs-12">
                        <input type="submit" class="btn btn-lg btn-primary" value="{% trans 'Save' %}" />
                      </div>
                    </div>
                  </form>

                  <br>

                  <legend><h3>{{ project.name }} Checklist</h3></legend>
                  <form name="project-checklist" action="." method="post">
                      {% csrf_token %}
                      {% for field in project.get_checklists %}
                          <div id="checklist-{{forloop.counter}}" class="checklist">{{ field }}</div>
                      {% endfor %}
                    </form>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function(){
    $('.checklist').click(function(e){
      var context = $(this);

      // Halt function if the ajax call is still running
      if(context.data('requestRunning')) {
        return;
      }
      context.data('requestRunning', true);
      // Get the IDs of each checked box
      var data = { 'checklists' : {}};
      // Loop through checklists
      $(".checklist").each(function(){
        var
          checklist = $(this),
          checklist_name = $(this).attr('id');
          data.checklists[checklist_name] = [];
          // Within checklist, loop through boxes

          $(checklist).each(function() {
            checkbox = $(this);

            // If the checkbox is checked, push it to
            // the data object
            if(checkbox.is(":checked")){
              data.checklists[checklist_name].push('test');
            }

          });
      })

      console.log(data);
      $.post("/profile/", data).always(function(){
        context.data('requestRunning', false);
      });
    })
  })
</script>
{% endblock %}
