{% extends "base.html" %}
{% load i18n %}
{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>{{ user.username }} Profile</h1>
          <p>This page is a placeholder template for the profile page.</p>
          <p>{{ user.username }}</p>
          <p>{{ user.email }}</p>
          <p>{{ user.first_name }}</p>
          <p>{{ user.last_name }}</p>
          <div id="test-tabs">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">1</div>
            <div role="tabpanel" class="tab-pane" id="profile">2</div>
            <div role="tabpanel" class="tab-pane" id="messages">3</div>
            <div role="tabpanel" class="tab-pane" id="settings">4</div>
          </div>

        </div>
          <div id="project-tabs">
            <ul id="project-tabs" class="nav nav-tabs" role="tablist">
              {% for project in projects %}
                <li role="presentation">
                  <a href="#" role="tab" id="{{ forloop.counter }}" data-toggle="tab">
                    {{ project.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
            <div class="tab-content" id="project-tab-content">
              {% for project in projects %}
                <div class="tab-pane fade" role="tabpanel" id="{{ forloop.counter }}">
                  {{ project.name }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
    $('#test-tabs').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
    </script>
{% endblock %}
