{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<!--
 -->
 <!-- Navigation -->

<header>
  {% image self.header_img width-1200 as header_img %}
  <div class="hero-background" style="background-image: url({{ header_img.url }})">
    <div class="shade-bar">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            {% if self.get_ancestors|length > 1 %}
            <ol class="breadcrumb">
            {% for page in self.get_ancestors %}
              {% if page.is_root == False %}
                <li><a href="{% pageurl page %}">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
            <li class="active">{{ self.title }}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron collection-shade">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            {% endif %}
            <h1 class="blog-title">
              {% if page.icon %}
                {% image page.icon width-120 %}
              {% endif %}
              {{ page.title }}
            </h1>
            {% if page.description %}
              <h2 class="lead blog-description">{{page.description}}</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-sm-7 blog-main">
      <article>
        {% for block in page.page_content %}
          {% if block.block_type == 'heading' %}
            <h3>{{ block }}</h3>
            {% elif block.block_type == 'paragraph' %}
            <p>{{ block }}</p>
            {% else %}
            {% include_block block %}
          {% endif %}
        {% endfor %}
      </article>
    </div>

    <div class="col-sm-5">
      <br>
      {% for sidebar_image in page.sidebar_images %}
        {% image sidebar_image.value width-640 class="img-responsive" %}
        <br>
      {% endfor %}
    </div>
  </div><!-- /.row -->

  {% if page.start_link %}
  <div class="row">
    <div class="col-sm-7">
      <nav>
        <a class="pull-right btn btn-default btn-lg" href="{{ page.start_link.url }}">
          <strong>Get Started <i class="fa fa-arrow-right"></i></strong>
        </a>
      </nav>
    </div>
  </div>
  {% endif %}
</div><!-- /.container -->


{% endblock %}
