{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<!--
 -->
 <!-- Navigation -->

    <header>
      {% image self.header_img width-1200 as header_img %}
      <div class="hero-background" style="background-image: url({{ header_img.url }})">
        <div class="jumbotron hero-shade">
          <div class="blog-header container">
            <div class="row">
              <div class="col-sm-9">
                {% if self.get_ancestors|length > 1 %}
                  <ol class="breadcrumb">

                  {% for page in self.get_ancestors %}
                    {% if page.is_root == False %}
                      <li><a href="{% pageurl page %}">{{ page.title }}</a></li>
                    {% endif %}
                  {% endfor %}

                  <li class="active">{{ self.title }}</li>

                  </ol>
                {% endif %}
                <h1 class="blog-title">{{ page.title }}</h1>
                {% if page.description %}
                  <h2 class="lead blog-description">{{page.description}}</h2>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">

      <div class="row">

        <div class="col-sm-7  blog-main">
          <article>
            {% for block in page.page_content %}

                  {% if block.block_type == 'heading' %}
                    <h3>{{ block }}</h3>
                    <br>
                  {% elif block.block_type == 'paragraph' %}
                    <p>{{ block }}</p>
                    <br>
                  {% else %}
                      {% include_block block %}
                  {% endif %}

             {%endfor%}
          </article>
        </div>

        {% if checklists %}

        <div class="col-sm-5 blog-sidebar">
            <div class="panel panel-default sidebar-checklist">
              {% for checklist in checklists %}
              <div class="panel-heading">
                <h4>Checklist</h4>
              </div>
              <div class="panel-body">
                <form class="checklist-form" method="POST" action="/update-checkbox/{{ checklist.step_page.id }}/{{ checklist.project.id }}/">
                {% csrf_token %}
                {% for item in checklist.checklist %}
                  {{ item.checklist_id }}
                  <div class="checkbox">{{ item }}</div>
                {% endfor %}
                </form>
              </div>
              {% endfor %}
            </div>
        </div><!-- /.blog-sidebar -->
        {% endif %}

      </div><!-- /.row -->
      <div class="row">
        <div class="col-sm-7">
          <nav>
          {% if page.previous_step %}
            <a class="pull-left btn btn-primary btn-lg" href="{{ page.previous_step.url }}">
              <strong><i class="fa fa-arrow-left"></i> Previous Step:</strong> {{ page.previous_step }}
            </a>
          {% endif %}
          {% if page.next_step %}
            <a class="pull-right btn btn-primary btn-lg" href="{{ page.next_step.url }}">
              <strong>Next Step:</strong> {{ page.next_step }} <i class="fa fa-arrow-right"></i>
            </a>
          {% endif %}
          </nav>
        </div>
      </div>
    </div><!-- /.container -->

    <!-- Submit project form on check -->
    {% block extra_js %}
    <script type="text/javascript">
      $(document).ready(function(){
        $('.checklist-form').click(function(){
          $(this).submit();
        });
      });
    </script>
    {% endblock extra_js %}

{% endblock %}
