{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<!--
 -->
 <!-- Navigation -->

    <header>
      {% image self.header_img width-1200 as header_img %}
      <div class="hero-background" style="background-image: url({{ header_img.url }})">
        <div class="jumbotron hero-shade">
          <div class="blog-header container">
            <div class="row">
              <div class="col-sm-9">
                {% if self.get_ancestors|length > 1 %}
                  <ol class="breadcrumb">

                  {% for page in self.get_ancestors %}
                    {% if page.is_root == False %}
                      <li><a href="{% pageurl page %}">{{ page.title }}</a></li>
                    {% endif %}
                  {% endfor %}

                  <li class="active">{{ self.title }}</li>

                  </ol>
                {% endif %}
                <h1 class="blog-title">{{ page.title }}</h1>
                {% if page.description %}
                  <h2 class="lead blog-description">{{page.description}}</h2>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">

      <div class="row">

        <div class="col-sm-7  blog-main">
          <article>
            {% for block in page.page_content %}

                  {% if block.block_type == 'heading' %}
                    <h3>{{ block }}</h3>
                    <br>
                  {% elif block.block_type == 'paragraph' %}
                    <p>{{ block }}</p>
                    <br>
                  {% else %}
                      {% include_block block %}
                  {% endif %}

             {%endfor%}
          </article>
        </div>

        {% if checklists %}

        <div class="col-sm-5 blog-sidebar">
            <div class="panel panel-default">
              {% for checklist in checklists %}
              <div class="panel-heading">
                <h4>
                  Checklist
                  <span id="checklist-saving" class="checklist-status" style="display: none"><i class="fa fa-refresh" alt="checklist updating"></i></span>
                  <span id="checklist-updated" class="checklist-status" style="display: none"><i class="fa fa-check-circle"></i> <small>(Saved)</small></span>
                  <span id="checklist-failed" class="checklist-status" style="display: none"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <small>(Problem Saving)</small></span>
                </h4>
              </div>
              <div class="panel-body">
                <form class="checklist-form" method="POST" action="/update-checkbox/{{ checklist.step_page.id }}/{{ checklist.project.id|default:"0" }}/">
                {% csrf_token %}
                {% for item in checklist.checklist %}
                  {{ item.checklist_id }}
                  <div class="checkbox">{{ item }}</div>
                {% endfor %}
                </form>
              </div>
              {% endfor %}
              <div id="checklist-login-prompt" class="panel-footer" style="display: none">
                <span>You need to log in to save your checklist. It takes just a few seconds and helps you track tasks to set up your business.<span>
                  <hr>
                <a href="{% url 'auth_login' %}" class="btn btn-default btn-block">Login</a>
                <a href="{% url 'registration_register' %}" class="btn btn-default btn-block">Create Account</a>
              </div>
            </div>
        </div><!-- /.blog-sidebar -->
        {% endif %}

      </div><!-- /.row -->
      <div class="row">
        <div class="col-sm-7">
          <nav>
            <a class="pull-left btn btn-default btn-lg" href="{{ next_step }}">
              <strong><i class="fa fa-arrow-left"></i> Previous Step</strong>
            </a>
            <a class="pull-right btn btn-default btn-lg" href="{{ next_step }}">
              <strong>Next Step <i class="fa fa-arrow-right"></i></strong>
            </a>
          </nav>
        </div>
      </div>
    </div><!-- /.container -->

{% endblock %}
