{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<!--
 -->
 <!-- Navigation -->

    <header class="step">
      <div class="blog-header container">

        {% if page.header_img %}
          {% image page.header_img width-120 %}
        {% endif %}
        <h1 class="blog-title">{{ page.title }}</h1>

        <p class="lead blog-description">{{page.description}}</p>
      </div>
    </header>

    <div class="container">

      <div class="row">

        <div class="col-sm-9 blog-main">
          <article>
            {% for block in page.page_content %}
                {% if block.block_type == 'heading' %}
                    <h1>{{ block.value }}</h1>
                {% else %}
                    <section class="block-{{ block.block_type }}">
                        {% include_block block %}
                    </section>
                {% endif %}
            {% endfor %}
          </article>
        </div>

        <div class="col-xs-12">
          <nav>
            <ul class="pager">
              <li><a href="{{ page.link_page.url }}"><strong>Next Page:</strong> {{ page.link_page }}</a></li>
            </ul>
          </nav>
        </div>


        </div><!-- /.blog-main -->

        {% if self.checklist.items %}
          <div style="border-left:1px solid #333;" class="col-sm-3 blog-sidebar">
              <div class="sidebar-module sidebar-module-inset">
                <h4>Checklist</h4>
                <hr>
                {% for item in self.checklist.items %}
                  <div class="checkbox">
                    <label><input type="checkbox" value="">{{item}}</label>
                  </div>
                {% endfor %}
              </div>
          </div><!-- /.blog-sidebar -->
        {% endif %}

      </div><!-- /.row -->

    </div><!-- /.container -->


{% endblock %}
