  {% load wagtailsettings_tags wagtailcore_tags %}

  {% get_settings %}

  <!-- Footer -->
  <footer>
    <div class="footer-above">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            {% if settings.biz_content.FooterSettings.first_link %}
            <a href="{% pageurl settings.biz_content.FooterSettings.first_link %}"><p>{{ settings.biz_content.FooterSettings.first_link }}</p></a>
            {% endif %}
            {% if settings.biz_content.FooterSettings.second_link %}
            <a href="{% pageurl settings.biz_content.FooterSettings.second_link %}"><p>{{ settings.biz_content.FooterSettings.second_link }}</p></a>
            {% endif %}
            {% if settings.biz_content.FooterSettings.third_link %}
            <a href="{% pageurl settings.biz_content.FooterSettings.third_link %}"><p>{{ settings.biz_content.FooterSettings.third_link }}</p></a>
            {% endif %}
            <a href="{% url 'checklist' %}"><p>Checklist</p></a>
            <a href="/search"><p>Resource Matcher</p></a>
          </div>
          <div class="col-sm-4 footer-address">
            <p><strong>{{ settings.biz_content.FooterSettings.department_name }}</strong></p>
            <p>{{ settings.biz_content.FooterSettings.street_address }}</p>
            <p>{{ settings.biz_content.FooterSettings.city_state_zip }}</p>
          </div>
          <div class="col-sm-4">
            <h3 class="help-line"> Questions? Call {{ settings.biz_content.FooterSettings.phone }}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            Built in partnership with <a href="https://www.codeforamerica.org/">Code for America</a>.
          </div>
        </div>
      </div>
    </div>
  </footer>
