{% load staticfiles %}
 <!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    {% include 'translation_bar.html' %}


    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu
            </button>
            <a class="navbar-brand" href="/">
              <img id="main-logo" alt="Brand" src="{% static 'biz_content/images/syracuse-seal.png' %}">
              Business Portal
            </a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact</a>
                </li>

                {% if user.is_authenticated %}
                  <li>
                      <a href="#">Profile</a>
                  </li>
                  <li>
                      <a href="{% url 'auth_logout' %}">Log out</a>
                  </li>
                {% else %}
                  <li>
                      <a href="{% url 'auth_login' %}">Login</a>
                  </li>
                  <li>
                      <a href="{% url 'register' %}">Sign up</a>
                  </li>
                {% endif %}

            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
